*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: seashell;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input,
textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #d4d9de;
    border-radius: 6px;
}
input:focus,
textarea:focus {
    caret-color: #66afe9;
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 5px 5px 0 #00000010;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mt-3 {
  margin-top: 1rem;
}
.header {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 17%);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}
.topbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}

/*login*/
.login-block {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 450px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 5px 6px #d4d9de;
}
.login-box form {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid gray;
}
.login-group {
  position: relative;
  padding-top: 12px;
}

.login-group+.login-group {
  margin-top: 20px;
}

.login-group label {
  position: absolute;
  margin-bottom: 0;
  left: 15px;
  background-color: #fff;
  top: 0;
  padding: 0 10px;
}

.login-group input {
  padding: 15px 25px;
  background-color: #fff;
}

.submit {
  margin-top: 20px;
  text-align: center;
}

.submit button {
  background-color: #1877f2;
  transition: background-color 0.3s ease;
  color: #fff;
  border-color: #1877f2;
}
.btn {
  padding: 10px;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
.btn:hover {
  background-color: slateblue;
  color: #fff;
  border-color: slateblue;
}
.signup.btn {
  background-color: #42b72a;
  color: #fff;
  border-color: #42b72a;
}
.signup.btn:hover {
  background-color: #36a420;
  border-color: #36a420;
}

.home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 50px;
  padding: 40px;
}
.left textarea {
  overflow: hidden;
    overflow-wrap: break-word;
    font-size: 14px;
    min-height: 200px;
    line-height: 21px;
    padding: 10px;
    resize: none;
}
.optional {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.optional h3, .right h3 {
  border-bottom: 1px dashed #d4d9de;
  padding-bottom: 10px;
}
.input-group {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 15px;
}
.right {
  border-left: 1px dotted #d4d9de;
  padding-left: 15px;
}