*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: lavender;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
select {
  appearance: none;
  cursor: pointer;
}
input,
textarea,
select {
    padding: 10px 15px;
    width: 100%;
    border: 1px solid #212121;
    border-radius: 6px;
}
input:focus,
textarea:focus {
    caret-color: #66afe9;
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 5px 5px 0 #00000010;
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.center {
  text-align: center;
}
.mr-2 {
  margin-right: 8px;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.mt-4 {
  margin-top: 1.5rem;
}
.mt-5 {
  margin-top: 3rem;
}
.mb-5 {
  margin-bottom: 3rem;
}
.header {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 17%);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}
.topbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}

/*login*/
.login-block, .signup-block {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box, .signup-box {
  width: 450px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 5px 6px #d4d9de;
}
.login-box form {
  border-bottom: 1px solid gray;
}
.login-box form, .signup-box form {
  width: 100%;
  padding: 15px;
}
.login-group, .signup-group {
  position: relative;
  padding-top: 12px;
}

.login-group+.login-group, .signup-group + .signup-group {
  margin-top: 20px;
}

.login-group label, .signup-group label {
  position: absolute;
  margin-bottom: 0;
  left: 15px;
  background-color: #fff;
  top: 0;
  padding: 0 10px;
}

.login-group input, .signup-group input {
  padding: 15px 25px;
  background-color: #fff;
}

.submit {
  margin-top: 20px;
  text-align: center;
}

.submit button {
  background-color: #1877f2;
  transition: background-color 0.3s ease;
  color: #fff;
  border-color: #1877f2;
}
.pasteBtn {
  text-align: end;
}
.btn {
  padding: 8px 10px;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
.btn:hover {
  background-color: slateblue;
  color: #fff;
  border-color: slateblue;
}
.signup.btn {
  background-color: #42b72a;
  color: #fff;
  border-color: #42b72a;
}
.signup.btn:hover {
  background-color: #36a420;
  border-color: #36a420;
}

.home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 50px;
  padding: 40px;
}
.left textarea {
  overflow: hidden;
    overflow-wrap: break-word;
    font-size: 14px;
    min-height: 200px;
    line-height: 21px;
    padding: 10px;
    resize: none;
}
.optional {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.optional h3, .right h3 {
  border-bottom: 1px dashed #212121;
  padding-bottom: 10px;
}
.input-group {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 15px;
}
.right {
  border-left: 1px dotted #212121;
  padding-left: 15px;
}
.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
}
.dropdown span {
  cursor: pointer;
  color: black;
}
.dropdown span:hover {
  font-weight: bold;
}
.drop {
  font-size: 20px;
  cursor: pointer;
  background-color: violet;
  padding: 5px 10px;
  border-radius: 5px;
}

.dropbtn {
  padding: 0.7rem 1.2rem 0.7rem 0.7rem;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: transparent;
  width: 100%;
}

.dropbtn:hover {
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content.show {
  display: block;
  background-color: #fff;
  width: max-content;
  right: 0;
  top: 54px;
}
.drop-item {
  width: 100%;
  padding: 5px 10px;
}
.drop-item:hover {
  background-color: slateblue;
}
.drop-item + .drop-item {
  border-top: 1px solid gray;
}
.dropdown-content a {
  color: black;
}

.drop-item a:hover,
.drop-item button:hover {
  color: #fff;
  background-color: transparent
}
.nav-link {
  padding: 0.7rem 1.2rem 0.7rem 0.7rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 50px;
  column-gap: 10px;
}
.profile .left {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
}
.profile .left .dp {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
}
.profile .left .options {
  padding: 15px;
}
.profile .left .options li {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.profile .left .options li + li {
  margin-top: 25px;
}
.profile .right {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
}
.profile-nav .btn {
  width: 100%;
}
.profile-nav .btn:hover {
  transform: translate3d(0,-6px,0);
  transition: 0.6s all ease;
}

.friends {
  padding: 50px;
}
.friends .contents {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
}
.search {
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: center;
}
.paste-card {
  display: flex;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 1px 1px 4px gray;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}
.paste-card-content {
  display: flex;
  column-gap: 10px;
}
.paste-card h4 {
  font-size: 20px;
  color: maroon;
}
.paste-card-info {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.paste-card-info span + span {
  border-left: 1px solid gray;
  padding-left: 10px;
}
.paste-card-details {
  row-gap: 10px;
  display: grid;
}
.friend-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 1px 1px 4px gray;
  border-radius: 10px;
}
.friend-card + .friend-card, .paste-card + .paste-card {
  margin-top: 10px;
}
.friend-card button {
  padding: 10px;
  border-radius: 50%;
    border: none;
    background-color: #42b72a;
    color: #fff;
    cursor: pointer;
}
.friend-card button:hover {
  background-color: #36a420;
}
.friend-card button span {
  font-size: 30px;
}
.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}